<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.v_jarj.wgu">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-feature android:name="android.hardware.camera2"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermsListActivity"
            android:label="@string/title_activity_terms_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermEditorActivity"
            android:label="@string/title_activity_new_term"
            android:parentActivityName=".TermsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.TermsListActivity" />
        </activity>
        <activity
            android:name=".TermInfoActivity"
            android:label="@string/title_activity_term_info"
            android:parentActivityName=".TermsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.TermsListActivity" />
        </activity>

        <provider
            android:name=".DataProvider"
            android:authorities="com.example.v_jarj.wgu.dataprovider"
            android:exported="false" />

        <activity
            android:name=".CoursesListActivity"
            android:label="@string/title_activity_courses_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.MainActivity" />
        </activity>
        <activity
            android:name=".CourseEditorActivity"
            android:label="@string/title_activity_course_editor"
            android:parentActivityName=".CourseInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.CourseEditorActivity" />
        </activity>
        <activity
            android:name=".CourseInfoActivity"
            android:label="CoursesInfoActivity"
            android:parentActivityName=".CoursesListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.CourseInfoActivity" />
        </activity>
        <activity
            android:name=".AssessmentsListActivity"
            android:label="@string/title_activity_assessments_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.MainActivity" />
        </activity>
        <activity
            android:name=".AssessmentInfoActivity"
            android:label="@string/title_activity_assessment_info"
            android:parentActivityName=".AssessmentsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.AssessmentsListActivity" />
        </activity>
        <activity
            android:name=".AssessmentEditorActivity"
            android:label="@string/title_activity_assessment_editor"
            android:parentActivityName=".AssessmentInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.AssessmentInfoActivity" />
        </activity>
        <activity
            android:name=".MentorsListActivity"
            android:label="@string/title_activity_mentors_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.MainActivity" />
        </activity>
        <activity
            android:name=".MentorInfoActivity"
            android:label="@string/title_activity_mentor_info"
            android:parentActivityName=".MentorsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.MentorsListActivity" />
        </activity>
        <activity
            android:name=".MentorEditorActivity"
            android:label="@string/title_activity_mentor_editor"
            android:parentActivityName=".MentorInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.MentorInfoActivity" />
        </activity>
        <activity
            android:name=".NotesListActivity"
            android:label="@string/title_activity_notes_list"
            android:parentActivityName=".CourseInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.CourseInfoActivity" />
        </activity>
        <activity
            android:name=".NoteEditorActivity"
            android:label="@string/title_activity_note_editor"
            android:parentActivityName=".NotesListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.NotesListActivity" />
        </activity>

        <receiver
            android:name=".CourseNotificationReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission=""
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".AssessmentNotificationReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission=""
            tools:ignore="ExportedReceiver" />
    </application>

</manifest>