<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.v_jarj.wgu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermsListActivity"
            android:label="@string/title_activity_terms_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseListActivity"
            android:label="@string/title_activity_course_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssessmentListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewTermActivity"
            android:label="@string/title_activity_new_term"
            android:parentActivityName=".TermsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.TermsListActivity" />
        </activity>
        <activity
            android:name=".TermInfoActivity"
            android:label="@string/title_activity_term_info"
            android:parentActivityName=".TermsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.TermsListActivity" />
        </activity>
        <activity
            android:name=".EditTermActivity"
            android:label="@string/title_activity_edit_term"
            android:parentActivityName=".TermInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.TermInfoActivity" />
        </activity>
        <activity
            android:name=".NewCourseActivity"
            android:label="@string/title_activity_new_course"
            android:parentActivityName=".CourseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.v_jarj.wgu.CourseListActivity" />
        </activity>
    </application>

</manifest>